body {
    background-color: aqua; 
    
        background-image: url("https://s7.orientaltrading.com/is/image/OrientalTrading/13901887?$PDP_VIEWER_IMAGE$");  
             float: left; 
}

        
    